---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: gatus
  namespace: gatus
spec:
  hosts:
  - "status.jkulzer.dev"
  gateways:
  - istio-external-gateway/external-gateway
  - istio-internal-gateway/internal-gateway
  http:
  - route:
    - destination:
        host: gatus
        port:
          number: 80
