---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: authelia
  namespace: authelia
spec:
  hosts:
  - "auth.jkulzer.dev"
  gateways:
  - istio-external-gateway/external-gateway
  - istio-internal-gateway/internal-gateway
  http:
  - route:
    - destination:
        host: authelia
        port:
          number: 80
