---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: goldilocks
    releaseName: goldilocks
    namespace: goldilocks
    repo: https://charts.fairwinds.com/stable
    version: 10.2.0
    valuesFile: values.yaml

resources:
  - goldilocks-ns.yaml
  - goldilocks-virtualservice.yaml
  - goldilocks-authpolicy.yaml
