---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: volsync
    releaseName: volsync
    namespace: volsync
    repo: https://backube.github.io/helm-charts/
    version: 0.10.0
    valuesFile: values.yaml

resources:
  - volsync-ns.yaml
