global:
  revisionHistoryLimit: 1
  additionalLabels:
    app: argo-cd

controller:
  resources:
    requests:
      cpu: 100m
      memory: 750M
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

dex:
  enabled: false

redis:
  enabled: true
  resources:
    requests:
      cpu: 15m
      memory: 30m

server:
  deploymentAnnotations:
    traffic.sidecar.istio.io/excludeOutboundIPRanges: "10.43.0.1/32"
  podAnnotations:
    traffic.sidecar.istio.io/excludeOutboundIPRanges: "10.43.0.1/32"
  resources:
    requests:
      cpu: 15m
      memory: 125M
  extraArgs: 
    - --insecure
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  ingress:
    enabled: false

configs:
  cm:
    create: true
    url: https://argo.jkulzer.dev
    resource.customizations: |
      argoproj.io/Application:
        health.lua: |
          hs = {}
          hs.status = "Progressing"
          hs.message = ""
          if obj.status ~= nil then
            if obj.status.health ~= nil then
              hs.status = obj.status.health.status
              if obj.status.health.message ~= nil then
                hs.message = obj.status.health.message
              end
            end
          end
          return hs
    statusbadge.enabled: "true"
    kustomize.buildOptions: --enable-helm
    reposerver.allow.oob.symlinks: "true"
    resource.exclusions: |
      - apiGroups:
          - cilium.io
        kinds:
          - CiliumIdentity
        clusters:
          - "*"
    oidc.config: |
      name: Authelia
      issuer: https://auth.jkulzer.dev
      clientID: argocd
      clientSecret: $argocd-oidc-secret:client-secret
      cliClientID: argocd-cli
      requestedScopes:
        - openid
        - profile
        - email
        - groups
      enableUserInfoGroups: true
  rbac:
    create: true
    policy.csv: |
      g, kubeadmin, role:admin
    scopes: "[groups]"

repoServer:
  resources:
    requests:
      cpu: 50m
      memory: 200M
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

applicationSet:
  enabled: false

notifications:
  enabled: false
