---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: goldpinger
  namespace: goldpinger
spec:
  hosts:
  - "goldpinger.jkulzer.dev"
  gateways:
  - istio-external-gateway/external-gateway
  - istio-internal-gateway/internal-gateway
  http:
  - route:
    - destination:
        host: goldpinger
        port:
          number: 8080
