prometheus:
  namespace: prometheus
  serviceAccount: default
  podMonitor:
    enabled: true

controller:
  logLevel: info
  resources:
    requests:
      cpu: 25m
      memory: 10M
    limits:
      cpu: 50m
      memory: 200M
  livenessProbe:
    enabled: false
  readinessProbe:
    enabled: false

speaker:
  logLevel: info
  # frr is probably needed for bgp, but gets deactivated for layer 2 usage
  frr:
    enabled: false
  reloader:
    resources:
      requests:
        cpu: 10m
  resources:
    requests:
      cpu: 15m
      memory: 50M
    limits:
      cpu: 25m
      memory: 75M
