---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: reflector
    releaseName: reflector
    namespace: reflector
    repo: https://emberstack.github.io/helm-charts
    version: 9.1.45
    valuesFile: values.yaml

resources:
  - reflector-ns.yaml
