---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: defenselessmoaningtwink-com
  namespace: cert-manager
spec:
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "istio-internal-gateway,istio-external-gateway"
  secretName: defenselessmoaningtwink-com-tls
  issuerRef:
    name: letsencrypt-prod
  dnsNames:
  - "defenselessmoaningtwink.com"
  - "*.defenselessmoaningtwink.com"
