---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: goldilocks

helmCharts:
  - name: vpa
    releaseName: vpa
    namespace: goldilocks
    repo: https://charts.fairwinds.com/stable
    version: 4.10.1
    valuesFile: values.yaml

resources:
  - https://raw.githubusercontent.com/FairwindsOps/charts/master/stable/vpa/crds/vpa-v1-crd.yaml
