---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-pg
  namespace: immich
spec:
  instances: 1
  enableSuperuserAccess: true
  postgresql:
    shared_preload_libraries:
      - "vchord.so"
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16.4-v0.3.0
  bootstrap:
    initdb:
      database: immich
      owner: immich
      postInitSQL:
        - CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
        - ALTER USER immich WITH SUPERUSER
  storage:
    size: 5Gi
