---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: filebrowser
  namespace: navidrome
  labels:
    app: music-filebrowser
spec:
  replicas: 1
  selector:
    matchLabels:
      app: music-filebrowser
  template:
    metadata:
      labels:
        app: music-filebrowser
    spec:
      initContainers:
        - name: auth-config
          image: filebrowser/filebrowser:v2.31.2
          args: 
          - "config"
          - "set"
          - "--auth.method=noauth" 
          # - "--auth.method=proxy" 
          # - "--auth.header=remote-email"
          volumeMounts:
            - name: ingest
              mountPath: /music
            - name: data
              mountPath: /data
            - name: config
              mountPath: /.filebrowser.json
              subPath: .filebrowser.json
      containers:
        - name: filebrowser
          image: filebrowser/filebrowser:v2.31.2
          # env:
          # - name: "FB_AUTH.METHOD"
          #   value: "proxy" 
          # - name: "FB_AUTH.HEADER"
          #   value: "remote-email"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: ingest
              mountPath: /music
            - name: data
              mountPath: /data
            - name: config
              mountPath: /.filebrowser.json
              subPath: .filebrowser.json
      volumes:
      - name: ingest
        persistentVolumeClaim:
          claimName: ingest
      - name: data
        persistentVolumeClaim:
          claimName: filebrowser-data
      - name: config
        configMap:
          name: filebrowser-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filebrowser-data
  namespace: navidrome
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebrowser-config
  namespace: navidrome
data:
  # "auth.method": "proxy",
  # "auth.header": "remote-email",
  # "method": "proxy",
  # "header": "remote-email"
  .filebrowser.json: |
    {
      "address": "0.0.0.0",
      "port": 8080,
      "log": "stdout",
      "database": "/data/filebrowser.db",
      "root": "/music"
    }
---
apiVersion: v1
kind: Service
metadata:
  name: filebrowser
  namespace: navidrome
  labels:
    app: music-filebrowser
  annotations:
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: music-filebrowser
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: filebrowser
  namespace: navidrome
spec:
  hosts:
  - "musiclibrary.jkulzer.dev"
  gateways:
  - istio-system/main-gateway
  http:
  - match:
    route:
    - destination:
        host: filebrowser
        port:
          number: 8080
---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: filebrowser-music-authelia-policy
  namespace: istio-system
spec:
  selector:
    matchLabels:
      istio: gateway 
  action: CUSTOM
  provider:
    name: "authelia"
  rules:
  - to:
    - operation:
        hosts:
          - "musiclibrary.jkulzer.dev"
