---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: copyparty
  namespace: navidrome
  labels:
    app: music-filebrowser
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: music-filebrowser
  template:
    metadata:
      labels:
        app: music-filebrowser
    spec:
      containers:
        - name: copyparty
          image: ghcr.io/9001/copyparty-ac:1.20.10 
          ports:
            - name: http
              containerPort: 3923
              protocol: TCP
          volumeMounts:
            - name: ingest
              mountPath: /ingest
            - name: music-library
              mountPath: /library
            - name: config
              mountPath: /cfg
      volumes:
      - name: ingest
        persistentVolumeClaim:
          claimName: ingest
      - name: music-library
        persistentVolumeClaim:
          claimName: music-library
      - name: config
        configMap:
          name: copyparty-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: copyparty-config
  namespace: navidrome
  labels:
    app: music-filebrowser
data:
      # xf-host musiclibrary.jkulzer.dev
    # [global]
  copyparty.conf: |
    rproxy: -1
    theme: 4
    idp-h-usr: remote-email
    idp-h-grp: remote-groups
    [/ingest]
      /music
      accs:
        r: @kubeadmin
        w: @kubeadmin
    [/library]
      /library
      accs:
        r: *
        w: ""
---
apiVersion: v1
kind: Service
metadata:
  name: filebrowser
  namespace: navidrome
  labels:
    app: music-filebrowser
spec:
  type: ClusterIP
  ports:
    - port: 3923
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: music-filebrowser
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: filebrowser
  namespace: navidrome
spec:
  hosts:
  - "musiclibrary.jkulzer.dev"
  gateways:
  - istio-external-gateway/external-gateway
  - istio-internal-gateway/internal-gateway
  http:
  - match:
    route:
    - destination:
        host: filebrowser
        port:
          number: 3923
---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: filebrowser-music-authelia-policy
  namespace: istio-system
spec:
  selector:
    matchLabels:
      istio: gateway 
  action: CUSTOM
  provider:
    name: "authelia"
  rules:
  - to:
    - operation:
        hosts:
          - "musiclibrary.jkulzer.dev"
