---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: navidrome
  namespace: navidrome
spec:
  hosts:
  - "music.jkulzer.dev"
  gateways:
  - istio-system/main-gateway
  http:
  - match:
    route:
    - destination:
        host: navidrome
        port:
          number: 4533
