---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: karma
  namespace: karma
spec:
  hosts:
  - "karma.jkulzer.dev"
  gateways:
  - istio-external-gateway/external-gateway
  - istio-internal-gateway/internal-gateway
  http:
  - route:
    - destination:
        host: karma
        port:
          number: 3000
