---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: kyverno
    releaseName: kyverno
    namespace: kyverno
    repo: https://kyverno.github.io/kyverno/
    version: 3.7.1
    valuesFile: values.yaml

resources:
  - kyverno-ns.yaml
