[Unit]
Description=Autoinstall
After=network-online.target

[Service]
ExecStart=/usr/bin/bash /root/install-script.sh

[Install]
WantedBy=multi-user.target
